
/*******************
imports
******************* */
/*@import url('https://fonts.googleapis.com/css?family=Lalezar|Cutive+Mono|Special+Elite');*/
@import url('https://fonts.googleapis.com/css?family=Cabin|Londrina+Solid|Montserrat|Poppins');

/* ****************
Base styles : defaults for the website
***************** */

/*h1, h2, h3 {
	margin-bottom: 0;
	font-family: 'Lalezar';
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #573A1C;
}*/

p {
	margin-top: 2px;
}

h1 {
	font-size: 50px;
	color: #ffdaaa;
}

h1 a {
	color: #ffdaaa;
}

h2 {
	font-size: 35px;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
}

a {
	text-decoration: none;
}


strong {
	font-size: 30px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	/*margin-top: 15px;*/
}

blockquote {
	padding-left: 30px;
	border-left: 3px solid #cfdfde;
	margin-left: 0;
}

p, aside {
	line-height: 1.2em;
}

figcaption {
	font-style: italic;
	margin-top: 8px;
	font-size: 14px;
}

body {
	font-family: Arial;
	background-image: url(../images/bg4.jpg);
}

body, main, footer {
	font-family: 'Cabin', sans-serif;
}

header, nav {
	font-family: 'Londrina Solid', cursive;
}

/* *****************
Layout styles : for the sections/areas
***************** */

#nail-down {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	/*position: fixed;
    bottom: 0;*/
}

#home {
    height: 390px;
}

#only {
	text-align: right;
	justify-content: flex-start;
	font-size: 21px;
	display: flex;
  	flex-direction: column;
  	flex-basis: 20px;
  	flex: 1;
}

#center {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 50px;
}

header {
	padding: 0px 0px 0px 25px;
}

nav {
	padding: 0px 25px 0px 0px;
	display: flex;
	flex-direction: row;
	/*flex-basis: 20px;*/
	flex: 1;
	text-align: right;
	justify-content: flex-end;
	font-size: 20px;
}

header h1 {
	padding-bottom: 0px;
	/*margin-left: 20px;*/
	/*font-size: 40px;*/
}

nav ul {
	list-style-type: none;
	margin: 0;
	/*margin-top: 30px;*/
    padding-top: 20;
	overflow: hidden;
}

nav li {
	margin-top: 50px;
	float: left;
}

nav a {

}

header, nav {
	background-color: #4c2b00;/*#4c2b00;*/
	color: #ffdaaa;
}

footer, main {
	background-color: #bc8134;/*#4c2b00;*/
	color: #ffdaaa;
	padding: 0px 40px 10px 40px;
}

footer a {
	/*float: right;*/
	color: #ffdaaa;
}

section img {
	float: right;
	display: block;
	max-width: 240px;
	/*max-height:95px;*/
	width: auto;
	height: auto;
}

/* *****************
Modules styles : reusable, generic, simple
***************** */
h3 a{
	color: white;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
  margin-right: 45px;
}

.container {
	margin: 0 auto;
	width: 100%;
	/*min-height: 100%;*/
	max-width: 960px;
	/*font-family: 'Special Elite';*/
	font-size: 18px;
	letter-spacing: 2px;
}

.button a {
	border: 3px solid #e0c096;
	padding: 30px 2px 30px 2px;
	margin: 5px 3px 5px 3px;
	border-radius: 6px;
	/*background-color: #000000;*/
	color: #ffdaaa;
}

.subbutton{
		height: 45px;
		font-family: 'Special Elite';
		font-size: 1.2em;
}
.byline {
	font-family: 'Special Elite';
	color: #573A1C;
}

.topic-bottom {
	font-size: 14px;
	width: 90%;
	margin: 65px 0px 50px 40px;
}

.buffer {
	padding-top: 30px;
}

.button-dif a {
	border: 3px solid #e0c096;
	padding: 30px 2px 30px 2px;
	margin: 5px 3px 5px 3px;
	border-radius: 6px;
	color: #ffdaaa;
	background-color: #4c2b00;
}

.button-link a {
	border: 3px solid #e0c096;
	padding: 30px 2px 30px 2px;
	margin: 5px 3px 5px 3px;
	border-radius: 6px;
	color: #ffdaaa;
	background-color: #1a4416;
}

.preview {
	margin-top: 25px;
	border-radius: 12px;
	padding: 6px;
	background-color: #573A1C;
	color: #F6EDE2;
}

.two-col {
	display: grid;
	grid-template-columns: auto auto;
	grid-column: 1 / 3;
}

.two-col1 {
	grid-column: 1 / 2;
	margin-right: 10px;
	padding: 0px;
}

.two-col2 {
	grid-column: 2 / 3;
	padding: 0px;
}

.top-header {
	margin-top: 0;
	padding-top: 20px;
}

/*FORM - Adapted from form options for Pure by Yahoo!*/

/*.pure-form input[type="text"], .pure-form input[type="email"] {
	padding: 0.5em 0.6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
	font-family: 'Special Elite';
	height: 50px;
}

.pure-form .pure-checkbox {
    margin: 0.5em 0;
    display: block;
}

.pure-form label {
    margin: 0.5em 0 0.2em;
}
.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.formsec{
		border: solid;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: 30px;
}
.pure-form-aligned input,
.pure-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}*/

/* Aligned Forms */
/*.pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}*/



/* *****************
State styles
***************** */

.button-dif a:hover {
	background-color: #7d5d3b;
}

.button a:hover {
	background-color: #573A1C;
}

.topic-bottom a:hover {
	color: brown;
}

header h1 a:hover {
	color: #7d5d3b;
}

footer a:hover {
	text-decoration: underline;
}

/*THEME & MISC*/
#only a {
	color: white;
}

.topic-bottom a {
	color: blue;
}

.topic-bottom h2 {
	font-size: 18px;
}

.preview h3 {
	color: #F6EDE2;
}

.is-current {
	text-decoration: underline;
}

/*nav li:hover {
	background-color: #7d5d3b;
}*/

/** {
	border-style: solid;
	border-color: #444444;
	border-width: 1px;
}*/
/** { border: 1px solid #f442df; }*/
